.commit {
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;

  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 0.5em;
  margin: 0.25em;
}

.commit-top {
  display: flex;
  flex-direction: row;
}

.commit-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding-top: 0.5em;
}

.commit-detail {
  padding: 0 1em;
}

.sha {
  color: lightslategray;
}