.repo {
  display: flex;
  flex-direction: column;

  flex: 1 0 auto;

  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 2px 2px 1px 0 #ccc;
  padding: 1em;
  margin: 1em 1em 1em 0;

  .repo-link {
    font-weight: bolder;
    font-size: 18px;
  }
}

.repo-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repo-left {
  display: flex;
  flex-direction: column;

  padding-right: 0.5em;
}

.repo-right {
  display: flex;
  flex-direction: column;
}