$background-color: #343a40;
$text-color: white;

.header {
  display: flex;
  align-content: center;

  flex: 0 1;

  background-color: $background-color;
  color: $text-color;
}

button:focus {
  color: invert($background-color);
  background-color: invert($text-color);
}

.header-name {  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: bold;
  font-size: larger;
  color: inherit;
  border: 0;
  background-color: inherit;
  margin: 0.5em;
}

.vr {
  border-left: 1px solid;
}

.page-tab {
  flex: 0 1 auto;

  border: 0;
  border-right: 1px solid;
  padding: 0.5em;
  margin: 0.25em 0;

  font-size: large;
  font-weight: bold;
  color: $text-color;
  background-color: $background-color;
}