.footer {
  display: flex;
  justify-content: center;
  align-content: center;

  flex: 0 1 auto;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  height: 3em;
  background-color: #343a40;
  color: white;
}
