.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;

  flex-shrink: 0;

  background-color: #343a40;
  color: white;
}

.footer-icon {
  height: 3em;
  width: 3em;

  padding: 0.5em;

  a, img {
    height: 100%;
  }
}
